@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title of the document</title>
</head>

<body>
    <div class="generalBody">
        <h1>Investigation Job</h1>
        <h4>Investigações próximo de você estão te esperando para serem realizadas</h4>
        <div class="index_paragrafoprincipal">
            <p>
                A proposta do Investigation Job nasceu para atender a necessidade da grande maioria dos agentes de campana que estavam tendo dificuldades
                de encontrar clientes.
            </p>
            <p>
                Com o Investigation Job você não precisa aprender Google Ads, Facebook Ads, montar site, montar Google Meu Negócio, etc.
            </p>
            <p>
                O Investigation Job foi feito para você focar no mais importante: a investigação propriamente dita.
            </p>
        </div>
    </div>
</body>

</html>
